<div class="row">
  <div class="col">
    <app-exibition-item
      [exibition]="exibition"
      [showEdit]="!showEdit"
      (editClicked)="onEditClicked()"
    ></app-exibition-item>
    <!-- ovde je item "child" u odnosu na details koji mu je kao "parent"-->
  </div>
</div>

<div class="row" *ngIf="!showEdit">
  <div class="col-6" *ngFor="let artwork of artworks">
    <app-artwork-item [artwork]="artwork"></app-artwork-item>
  </div>
</div>

<div class="row" *ngIf="showEdit">
  <div class="col">
    <app-exibition-edit
      [allArtworks]="allArtworks"
      [exibitionArtworks]="artworks"
      (searchClick)="onSearchClicked($event)"
      (addArtwork)="onAddArtwork($event)"
      (removeArtwork)="onRemoveArtwork($event)"
      (doneClick)="onDoneClicked()"
    ></app-exibition-edit>
  </div>
</div>
